<!DOCTYPE html>
<html>
    <head>
        <meta chareset="utf-8" />
        <title>NEG.js</title>
        <link rel="stylesheet" href="css/air.css" type="text/css" />
        <link rel="stylesheet" href="css/base.css" type="text/css" />
        <link rel="stylesheet" href="css/index.css" type="text/css" />
        <script src="js/beacon.0.1.0.mini.js" type="text/javascript"></script>
        
    </head>
    <body>
        <div id="ui-lock" class="hidden"></div>
        <nav id="main-nav">
            <div class="nav-wrapper">
                <div class="nav-toggle">
                    <span>Home</span>
                </div>
            </div>
        </nav>
        <aside id="page-header">
            <hgroup>
                <h1>DEMO Title</h1>
                <div class="meta">
                    <span class="data">2013.10.29</span> - 
                    <a href="###" class="category">genneral -news</a>
                </div>
                <div class="meta">
                    <span class="data">2013.10.30</span> - 
                    <a href="###" class="category">add layout</a>
                </div>
                <div class="tag-list">
                    <strong>Tags:</strong>
                </div>
            </hgroup>
            <aside class="author">
                <img width="75" height="75" src="images/Air.Y.Zhang.jpg"/>
                <span class="author-title">
                    Posted by<br/>
                    Air Y Zhang
                </span>
            </aside>
        </aside>
        <div id="container">
            <section id="main-content">
                <article id="page-content">
                    <p>fsdfsf</p>
                </article>
            </section>
        </div>
        <script src="js/index.js" type="text/javascript" ></script>
    </body>
</html>