#page-header .author, #content .author { position: relative; }
#page-header .author span, #content .author span { display: block; left: 60px; top: 18px; position: absolute; line-height: 1.3em; color: #888888; }
#page-content { position: relative; left: 310px; }
@media all and (-webkit-min-device-pixel-ratio: 1.5){}
@media screen and (max-width: 1362px) {}
@media screen and (max-width: 640px) {}